www/firebase-config.local.js
docs/firebase-config.local.js
node_modules/
dist-android/
dist-netlify/
*.zip
con-publicidad/
sin-publicidad/
android/app/build/
android/.gradle/
android/local.properties
android/keystore/
android/keystore.properties
android/app/src/main/assets/public/
.idea/
*.apk
*.aab
*.jks
*.keystore
.DS_Store
Thumbs.db
